.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* .navbar div {
  width: 20%;
} */

.navbar div a {
  font-family: "poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  transition: all 0.3s ease-in-out;
}

.navbar div > a {
  color: #595959;
  cursor: pointer;
}

.navbar div a.active {
  background-color: #33b6d5;
  color: white;
  padding: 0 10% 0 10%;
  border-radius: 15px;
}
