:root {
  --image-placeholder-size: 400px;
}
.image-controls {
  position: relative;
  background-color: #e0e0e0;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  height: var(--image-placeholder-size);
  overflow: hidden;
}

.image-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-edit-btn {
  position: absolute !important;
  bottom: 10px;
  right: 10px;
}

.image-controls img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form-container {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container {
  width: 60%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-field {
  padding: 15px 30px;
  border: 1px solid #c1c1c1;
}

.submit-btn:hover{
    cursor: pointer;
    background-color: #3498DB;
}



.container{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}
.select-field {
  padding: 10px;
  border: 1px solid #c1c1c1;
}

.submit-btn {
  background-color: #2e86c1;
  padding: 10px 15px;
  border: none;
  color: #fff;
}


.invalid-feedback {
  font-size: "10px";
  font-family: "Work Sans";
  color: "red";
}
