.logout {
    margin-left: auto;
}
.logout button {
    background-color: #1560ab;
    border: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    font-family: raleway;
}